@import "tailwindcss";

:root{
  font-family: "Michroma", sans-serif;
}

.liquidglass{
  border: 1px solid white;
  background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.701), rgba(0, 0, 0, 0.147));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}
