@import "tailwindcss";

:root{
  font-family: "Michroma", sans-serif;
}

/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  -webkit-scrollbar-width: none;
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}

.contact-text-responsive {
  font-size: clamp(2rem, 6vw, 6rem);
  line-height: 1.1;
}

.marque-text-responsive {
  font-size: clamp(1.5rem, 2vw, 3rem);
}