@import "tailwindcss";

:root{
  font-family: "Michroma", sans-serif;
}

.liquidglass{
  border: 1px solid white;
  background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.701), rgba(0, 0, 0, 0.147));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.liquidbutton:active{
  background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.402), transparent);
  border: 1px solid white;
  padding: 20px;
  box-shadow: 0 1px 5px black;
}

