@import "tailwindcss";

:root{
  font-family: "Michroma", sans-serif;
}

/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  -webkit-scrollbar-width: none;
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}

