@import "tailwindcss";

body {
  font-family: "Michroma", sans-serif;
  @apply bg-[#050505] text-white;
}

/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  -webkit-scrollbar-width: none;
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}

@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}

.contact-text-responsive {
  font-size: clamp(2rem, 6vw, 6rem);
  line-height: 1.1;
}

.marque-text-responsive {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.outlined-text {
  color: transparent;              /* makes inside transparent */
  -webkit-text-stroke: 0.5px #ff6900; /* outline thickness + color */
}

@keyframes dropLine {
  0% { transform: scaleY(0); transform-origin: top; }
  50% { transform: scaleY(1); transform-origin: top; }
  50.1% { transform: scaleY(1); transform-origin: bottom; }
  100% { transform: scaleY(0); transform-origin: bottom; }
}

@keyframes hudScroll {
  0% { transform: translateY(-5px) rotate(45deg); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(15px) rotate(45deg); opacity: 0; }
}

@keyframes hudPulse {
  0%, 100% { opacity: 0.5; filter: drop-shadow(0 0 2px #ff6900); }
  50% { opacity: 1; filter: drop-shadow(0 0 8px #ff6900); }
}